<h1>Add a new Task</h1>

<%= form_for(@task) do |form| %>
  <%= label_tag(:title, "Title") %>
  <%= form.text_field(:title) %><br>

  <%= label_tag(:description, "Description")%>
  <%= form.text_area(:description) %><br>

  <%= form.submit("Create") %>
<% end %>